Materias/MachineLearning_I/california_housing_train.csv
Materias/MachineLearning_I/.ipynb_checkpoints
Materias/MachineLearning_I/Proyecto/.ipynb_checkpoints
Materias/MachineLearning_I/Proyecto/WA_Fn-UseC_-Telco-Customer-Churn.csv
Materias/MachineLearning_I/Proyecto/ML-Workflow.png
Materias/MachineLearning_I/titanic_train.csv
Materias/MachineLearning_I/Presentaciones
.Rhistory
Materias/MachineLearning_II/.ipynb_checkpoints
Materias/ProcesamientoLenguaje/Presentaciones
Materias/ProcesamientoLenguaje/Proyecto/Soportes
