MachineLearning_I/california_housing_train.csv
MachineLearning_I/.ipynb_checkpoints
MachineLearning_I/Proyecto/.ipynb_checkpoints
#MachineLearning/Proyecto/WA_Fn-UseC_-Telco-Customer-Churn.csv
MachineLearning_I/Proyecto/ML-Workflow.png
MachineLearning_I/titanic_train.csv
MachineLearning_I/Presentaciones
.Rhistory
MachineLearning_II/.ipynb_checkpoints